@model List<Insta.Models.Post>
    <style>


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


.user-post{
  max-width: 500px;
  max-height: 530px;
}


.article-post{
  margin-bottom: 10px;
  max-width: 510px;
  border-radius: 3px;   border: 1px solid #e6e6e6;
  text-align: center;
}

    </style>

@{
var userProfileHref = "#";
}

@foreach (var item in Model) {
    userProfileHref= "https://www.instagram.com/"+item.OwnerUsername;
    <article class="article-post">
        <section style="padding-top: 10px;">
            <div>
                <div>
                    <header>
                        <div>
                            <h6> <a href="@(userProfileHref)">@item.OwnerUsername</a></h6>
                        </div>
                        <div>
                            <span style="font-size: small">@(item.LocationName)</span>
                        </div>
                    </header>
                    <div style="padding-top:5px; text-align: center">
                        <img src="@(item.PhotoUrl)" class="user-post" alt="Instagram Post" />
                    </div>
                    <div>
                        <p>
                            <span style="font-weight:bold">@(item.OwnerUsername)</span>
                            @item.Caption
                        </p>
                        
                    </div>
                </div>
            </div>
        </section>
    </article>
    
}